.banner {
	background-image: linear-gradient(-225deg,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url("../../images/foot2.png");
	background-size: cover;
	background-position: center;
	color: white;
	padding: 150px 0px;
}

#banner-text {
position: absolute;
top: 17%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
z-index: 1;
color: white;
}

#banner-text h1 {
font-size: 4rem;
margin-bottom: 1rem;
color: white;
}

#banner-text h2 {
margin-bottom: 4rem;
}